.read {
 color: green;
}

.notRead {
  color: crimson;
}

.statisticWrapper {
  display: flex;
  margin-top: 25px;
  column-gap: 10px;
}

.staticBoardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

